<%- include('../layouts/header.ejs') %>

    <%- include('../admin/adminHeader.ejs') %>

        <!-- Breadcrumb Section Begin -->

        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Category Offers</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <span>Category Offers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <main class="main my-5">
            <div class="container">





                <div class="table-responsive" id="no-more-tables">
                    <% if(categories.length>0){ %>

                        <table class="table table-striped bg-white" id="myTable">
                            <thead class=" ">
                                <tr class="">
                                    <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                        class="sorting ">
                                        Name</th>

                                    <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col">
                                        Description
                                    </th>
                                    <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col">
                                        Discount (rs)
                                    </th>



                                    <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col">
                                        Actions
                                    </th>


                                </tr>
                            </thead>
                            <tbody>


                                <% for(let i=0; i < categories.length ;i++) { %>

                                    <tr data-id="<%=categories[i]._id%>" class="text-center" style="font-size: medium;">
                                        <td data-title="Name">
                                            <%= categories[i].name %>
                                        </td>

                                        <td data-title="Mobile">
                                            <%= categories[i].description %>
                                        </td>
                                        <td data-title="Mobile">
                                            <%= categories[i].discountAmount %>
                                        </td>






                                        <td data-title="Mobile">

                                            <% if(categories[i].onDiscount===true){ %>

                                                <button class="deactivate"
                                                    data="<%=categories[i]._id%>">Deactivate</button>
                                                <%} else{%>

                                                    <button data="<%=categories[i]._id%>"
                                                        class="activate">Activate</button>
                                                    <%}%>



                                        </td>



                                    </tr>
                                    <% } %>







                            </tbody>
                        </table>


                        <% } else { %>

                            <h4 class="text-center font-weight-bold text-danger">No Products With Offers Were Found</h4>

                            <% } %>
                </div>
            </div>
        </main>




        <%- include('../admin/adminFooter.ejs') %>

            <script src="/js/admin/categoryOffers.js"></script>

            <script src="/js/dataTables.js"></script>


            <%- include('../layouts/footer.ejs') %>