<%- include('../layouts/header.ejs') %>

    <%- include('../admin/adminHeader.ejs') %>

        <!-- Breadcrumb Section Begin -->

        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Edit Category</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <span>Edit Category</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <main class="main my-5">
            <div class="container">

                <form class="container  w-50 my-5" action="/admin/editCategory/<%=category._id%>" method="post">


                    <div class="form-outline mb-4">
                        <input type="text" id="category-name" class="form-control" name="name" required
                            value="<%= category.name%>" />
                        <label class="form-label mt-2" for="category-name">Category Name </label>
                    </div>

                    <div class="form-outline mb-4 d-flex flex-column ">

                        <select name="onDiscount" id="onDiscount">



                            <option value="true" <%=category.onDiscount ? 'selected' :'' %> >
                                True
                            </option>

                            <option value="false" <%=category.onDiscount? '' :' selected' %> >
                                False
                            </option>

                        </select>

                        <label class="   mt-2" for="onSale">onDiscount</label>

                    </div>


                    <div class="form-outline mb-4">
                        <input type="text" id="disountName" class="form-control" name="discountName" required
                            value="<%= category.discountName%>" />
                        <label class="form-label mt-2" for="discountName">Discount Name </label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="discountAmount" class="form-control" name="discountAmount" required
                            value="<%= category.discountAmount%>" />
                        <label class="form-label mt-2" for="discountAmount">Discount Amount </label>
                    </div>





                    <div class="form-outline mb-2 w-100">
                        <textarea class="w-100" name="description" id="description"
                            required><%= category.description %></textarea>
                        <label class="form-label mt-2" for="description">Description</label>
                    </div>










                    <!-- Submit button -->
                    <button type="submit" class="btn btn-dark btn-block mb-4"> Edit Category</button>


                </form>


            </div>
        </main>




        <%- include('../admin/adminFooter.ejs') %>

            <%- include('../layouts/footer.ejs') %>