<%- include('../layouts/header.ejs') %>

    <%- include('../admin/adminHeader.ejs') %>

        <!-- Breadcrumb Section Begin -->

        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Product List</h4>
                            <div class="breadcrumb__links">
                                <a href="/admin/dashboard">Home</a>
                                <span>Product List</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <main class="main my-5">
            <div class="container">

                <a class="btn btn-outline-success mb-3" href="/admin/addProduct">Add New Products</a>

                <div class="table-responsive" id="no-more-tables">
                    <table class="table table-striped bg-white" id="myTable">
                        <thead class=" ">
                            <tr class="">
                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                    class="sorting ">
                                    Name</th>
                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                    class="sorting">
                                    Image
                                </th>

                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                    class="sorting">
                                    GroupID</th>

                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                    class="sorting">
                                    Category</th>

                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                    class="sorting">
                                    Size
                                </th>



                                <th class="bg-dark text-white" text-center style="font-size: 15px;" scope="col"
                                    class="sorting">
                                    Stock
                                </th>


                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col">Price
                                </th>
                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col">OnSale
                                </th>

                                <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col">Actions
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <% if(products && products.length>0){ %>
                                <% for(let i=0; i < products.length ;i++) { %>


                                    <tr data-id="<%=products[i]._id%>" class="text-center" style="font-size: medium;">
                                        <td data-title="Name">
                                            <%= products[i].name %>
                                        </td>
                                        <td data-title="Email">

                                            <img src="/img/productImages/<%=products[i].images.find((img)=>
                                            img.toLowerCase().includes('mainimgthumbnail')) %>" alt=""
                                                style=" height:80px;">

                                        </td>

                                        <td data-title="Name">
                                            <%= products[i].groupingID %>
                                        </td>

                                        <td data-title="Mobile">
                                            <%= products[i].category %>
                                        </td>

                                        <td data-title="Mobile">
                                            <%= products[i].size %>
                                        </td>


                                        <td data-title="Mobile">
                                            <%= products[i].stock %>
                                        </td>
                                        <td data-title="Mobile">
                                            <%= products[i].price %>
                                        </td>
                                        <td data-title="Mobile">
                                            <%= products[i].onSale %>
                                        </td>


                                        <td data-title="Actions "
                                            class="d-flex justify-content-center align-items-center "
                                            style="font-size: 10px; height:145px;">

                                            <a class="btn btn-outline-primary btn-sm mx-3 "
                                                href="/admin/editProduct/<%=products[i]._id%>">Edit</a>
                                            <button class="deleteButton btn btn-outline-danger btn-sm"
                                                data-id='<%=products[i]._id%>'>Delete</button>



                                        </td>
                                    </tr>

                                    <% } %>
                                        <% } else { %>

                                            <tr>

                                                <td class=" text-danger" colspan="5">Products Not Found
                                                </td>
                                            </tr>

                                            <% } %>





                        </tbody>
                    </table>
                </div>
            </div>
        </main>




        <%- include('../admin/adminFooter.ejs') %>

            <script src="/js/dataTables.js"></script>

            <script src="/js/admin/productList.js"></script>

            <%- include('../layouts/footer.ejs') %>