<%- include('../layouts/header.ejs') %>

    <%- include('../users/userHeader.ejs') %>

        <body class="goto-here " data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">


            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__text">
                                <h4>Orders</h4>
                                <div class="breadcrumb__links">
                                    <a href="./index.html">Home</a>
                                    <span>Orders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <div class="hero-wrap hero-bread ">
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">


                        </div>
                    </div>
                </div>
            </div>

            <section class="ftco-section ftco-cart ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
                            <div class="cart-list">


                                <% if(orders.length>0){ %>

                                    <table class="table mt-4">
                                        <thead class="thead-primary wishlist001">
                                            <tr class="text-center" style="background-color: burlywood;">
                                                <th>S.No</th>
                                                <th>PRODUCTS</th>
                                                <th>ORDER STATUS</th>
                                                <th>PRICE</th>
                                                <th>PAYMENT</th>
                                                <th>OPTIONS</th>

                                            </tr>
                                        </thead>
                                        <tbody>


                                            <% for(let i=0 ; i< orders.length ; i++) { %>


                                                <tr data-id="<%=orders[i]._id%>" class="text-center border-bottom">

                                                    <td>
                                                        <%=(i+1)%>
                                                    </td>


                                                    <td class="  ">

                                                        <ul>
                                                            <% for(let j=0 ; j< orders[i].orderedItems.length ; j++ ){%>

                                                                <li class="text-uppercase list-unstyled mt-3 "
                                                                    style="letter-spacing: 2px;">
                                                                    <%=orders[i].orderedItems[j].productInfo.name%> (
                                                                        <%=orders[i].orderedItems[j].quantity%>
                                                                            )
                                                                </li>


                                                                <% }%>

                                                        </ul>




                                                    </td>

                                                    <td class="text-uppercase "
                                                        style="letter-spacing: 2px; max-width: 130px;">





                                                        <%if(orders[i].orderStatus==='shipmentProcessing') { %>

                                                            Processing
                                                            <%} else {%>

                                                                <%= orders[i].orderStatus%>

                                                                    <%} %>
                                                    </td>

                                                    <td class="text-uppercase " style="letter-spacing: 2px;">
                                                        <%=orders[i].finalPrice %>
                                                    </td>

                                                    <td class="text-uppercase " style="letter-spacing: 2px;">


                                                        <%if(orders[i].paymentMethod==='onlinePayment') { %>

                                                            prepaid
                                                            <%} else {%>

                                                                <%= orders[i].paymentMethod%>

                                                                    <%} %>
                                                    </td>



                                                    <td class="">
                                                        <button class="cancelOrderBtn text-uppercase  p-2 mr-4"
                                                            order-id="<%=orders[i]._id%>"
                                                            style="letter-spacing: 2px;  color: rgb(139, 39, 39); font-weight: 600; font-size: .8rem;">
                                                            cancel</button>

                                                        <button class=" text-uppercase  p-2 "
                                                            style="letter-spacing: 2px; color: rgb(37, 120, 85); font-size: .8rem; ">
                                                            <a class="nav-link" style="font-weight: 600;"
                                                                href="/user/orderDetails/<%=orders[i]._id%>">
                                                                DETAILS</a>
                                                        </button>
                                                    </td>


                                                </tr><!-- END TR-->

                                                <%}%>


                                        </tbody>
                                    </table>

                                    <% } else{ %>

                                        <h3 class="mt-5 text-center">No Orders In Your List</h3>

                                        <% } %>

                            </div>
                        </div>
                    </div>


            </section>




            <%- include('../users/userFooter.ejs') %>

                <script src="/js/user/orders.js"></script>

                <%- include('../layouts/footer.ejs') %>