<%- include('../layouts/header.ejs') %>

    <%- include('../users/userHeader.ejs') %>


        <!-- Hero Section Begin -->
        <section class="hero">



            <div class="hero__items set-bg" data-setbg="img/hero/<%=banner.image%>">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="" style="color: black;">

                                <h1 style="font-weight: bold;">
                                    <%=banner.name%>
                                </h1>
                                <p class="my-4" style="color: rgb(178, 63, 55);">
                                    <%=banner.description%>
                                </p>
                                <a href="/search" style="text-decoration: none;" class="primary-btn ">Shop now
                                    </span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Hero Section End -->



        <!-- Product Section Begin -->
        <section class="product spad mt-5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Best Sellers</li>
                        </ul>

                    </div>
                </div>
                <div class="row product__filter">

                    <% if(products && products.length> 0 ) {%>

                        <% for(let i=0; i < products.length ;i++) { %>

                            <div class="col-lg-3 col-md-6  col-sm-6 col-8 mix new-arrivals ">
                                <div class="product__item">

                                    <div click-id="productDetailsLink" group-id="<%=products[i].groupingID%>"
                                        color-id="<%=products[i].color%>"
                                        class="product__item__pic product__item1 set-bg add-hover mt-1"
                                        data-id="bg-render"
                                        data-for-bg="img/productImages/<%=products[i].images.find((img)=>img.toLowerCase().includes('mainimg')) %>"
                                        style="background-position: top;
                                    background-repeat: no-repeat;">




                                    </div>
                                    <div class="product__item__text">
                                        <h6>
                                            <%=products[i].name%>
                                        </h6>

                                        <a>
                                            <%=products[i].name%>
                                        </a>

                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>Rs.<%=products[i].price%>
                                        </h5>



                                    </div>

                                </div>

                            </div>

                            <%}%>

                                <%}%>

                </div>
            </div>
        </section>



        <!-- Instagram Section Begin -->
        <section class="instagram spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="instagram__pic">
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
                            <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="instagram__text">
                            <h2>Instagram</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua.</p>
                            <h3>#Male_Fashion</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Instagram Section End -->

        <!-- Latest Blog Section Begin -->
        <section class="latest spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Latest News</span>
                            <h2>Fashion New Trends</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-10 ">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg"></div>
                            <div class="blog__item__text">
                                <span><img src="img/icon/calendar.png" alt=""> 16 February 2020</span>
                                <h5>What Curling Irons Are The Best Ones</h5>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-10 ">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                            <div class="blog__item__text">
                                <span><img src="img/icon/calendar.png" alt=""> 21 February 2020</span>
                                <h5>Eternity Bands Do Last Forever</h5>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-10 ">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                            <div class="blog__item__text">
                                <span><img src="img/icon/calendar.png" alt=""> 28 February 2020</span>
                                <h5>The Health Benefits Of Sunglasses</h5>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Latest Blog Section End -->




        <%- include('../users/userFooter.ejs') %>

            <%- include('../layouts/footer.ejs') %>