<%- include('../layouts/header.ejs') %>

    <%- include('../users/userHeader.ejs') %>



        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shop</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <span>Shop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->

        <!-- Shop Section Begin -->
        <section class="shop spad" style="background-color: rgba(255, 255, 255, 0.557);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="shop__sidebar">
                            <div class="shop__sidebar__search">
                                <form action="#" id="searchBar">
                                    <input type="text" placeholder="Search..." id="search">
                                    <button type="submit"><span class="icon_search"></span></button>
                                </form>
                            </div>
                            <div class="shop__sidebar__accordion">
                                <div class="accordion" id="accordionExample">



                                    <div class="position-relative">
                                        <div class="custom-selected">
                                            <button
                                                class="select-button font-weight-bold d-flex justify-content-around align-items-center"
                                                style="width: 241px;">
                                                <span>Categories </span><i
                                                    class="fa-solid fa-caret-down ml-3"></i></button>

                                        </div>
                                        <ul class="select-options position-relative" style="width: 241px;">


                                            <% if(categories.length> 0){ %>


                                                <% for(let i=0;i<categories.length;i++){ %>
                                                    <li class="filter-item">

                                                        <div class="custom-control custom-radio mb-1 dropdown">

                                                            <input type="radio" name="category"
                                                                value="<%= categories[i]._id %>"
                                                                id="cat- <%= categories[i]._id %>-radio"
                                                                class="custom-control-input category-radio"
                                                                <%if(categories[i]._id.toString()===categoryID){%>checked
                                                            <%}%>
                                                                >
                                                                <label class="custom-control-label"
                                                                    for="cat- <%= categories[i]._id %>-radio">
                                                                    <%= categories[i].name %>
                                                                </label>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                        <% } %>
                                        </ul>

                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="shop__product__option">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <div class="shop__product__option__left pt-1">

                                        <p>Showing 1- <% if(count < 9) {%>
                                                <%= count %>
                                                    <%} else { %>
                                                        <%=limit %>
                                                            <%}%> of <%=count %> results</p>
                                    </div>
                                </div>
                                <p class="col-lg-2 col-md-2 col-sm-2 p-1 text-right">Sort by Price:</p>
                                <div class="col-lg-3 col-md-3 col-sm-3 mt-1 d-flex justify-content-start ">

                                    <div class="shop__product__option__right  ">

                                        <select name="sortby" id="sortby" class="sortby">

                                            <option value="" <% if (!sortBy) { %> selected <% } %> disabled>Select
                                            </option>
                                            <option value="lowPrice" <% if (sortBy==='lowPrice' ) { %> selected <% } %>
                                                    >Price Low to High
                                            </option>
                                            <option value="highPrice" <% if (sortBy==='highPrice' ) { %> selected <% }
                                                    %>>Price High to Low
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <% if(products.length>0){ %>
                                <% for(let i=0; i < products.length ;i++) { %>


                                    <div class="col-lg-4 col-md-4 col-sm-6 mx-1 pl-0" style="max-width: 262px;">
                                        <div class="product__item">
                                            <div click-id="productDetailsLink" group-id="<%=products[i].groupingID%>"
                                                color-id="<%=products[i].color%>"
                                                class="product__item__pic set-bg add-hover mt-1" data-id="bg-render"
                                                data-for-bg="img/productImages/<%=products[i].images.find((img)=>img.toLowerCase().includes('mainimg')) %>"
                                                style="background-size: cover;background-position: top;
                                                background-repeat: no-repeat;">



                                                <ul class="product__hover">
                                                    <li>
                                                        <button data-id="<%=products[i]._id%>"
                                                            class="nav-link wishListBtn "><img src="img/icon/heart.png"
                                                                alt=""></button>

                                                    </li>
                                                    <li><a href="#"><img src="img/icon/compare.png" alt="">
                                                            <span>Compare</span></a>
                                                    </li>
                                                    <!-- <li><a href="#"><img src="img/icon/search.png" alt=""></a></li> -->
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6>
                                                    <%=products[i].name%>
                                                </h6>

                                                <button class="nav-link" onclick="addToCart('<%=products[i]._id%>')"><a
                                                        class="">+
                                                        Add to cart</a></button>

                                                <div class="rating">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <h5>Rs.<%=products[i].price%>
                                                </h5>



                                            </div>
                                        </div>
                                    </div>

                                    <% } } else{ %>

                                        <h3 class="text-danger"> Failed to load the products</h3>


                                        <% }%>
                        </div>

                    </div>
        </section>


        <nav aria-label="Page navigation" id="pagination">
            <ul class="pagination justify-content-center">
                <li class=""
                    style="width: 70px; background-color: black; padding: 8px ; text-align: center ; color: aliceblue;text-decoration: none;   border-radius: 10px 0 0 10px;    border: 1px solid #000;border-right: 1px solid gainsboro;  ">

                    <a <% if (currentPage>1) { %>
                        href="/?category=<%=categoryID%>&sortBy=<%=sortBy%>&search=<%= search %>&page=<%= previous %>"
                                        <%}%>
                                            class="nav-link"

                                            aria-label="Previous" tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                    </a>



                </li>
                <%for(let i=1;i<=totalPages;i++){%>
                    <%if(i==currentPage){%>
                        <li style="width: 70px; background-color: rgb(26, 26, 26); padding: 8px ; text-align: center ; color: aliceblue;text-decoration: none; border-right: 1px solid gainsboro;"
                            class="  " aria-current="page">
                            <%=i%>
                        </li>
                        <%}else{%>
                            <li style="width: 70px; background-color: black; padding: 8px ; text-align: center ; color: aliceblue;text-decoration: none; border-right: 1px solid gainsboro;"
                                class=" " aria-current="page">
                                <a class="nav-link"
                                    href="?category=<%=categoryID%>&sortBy=<%=sortBy%>&search= <%=search%>&page=<%=i%>">
                                    <%= i %>
                                </a>
                            </li>
                            <%}%>

                                <%}%>


                                    <li style="width: 70px; background-color: black; padding: 8px ; text-align: center ; color: aliceblue;text-decoration: none;   border-radius: 0px 10px 10px 0px;    border: 1px solid #000; "
                                        class="">

                                        <a class=" nav-link" <% if (currentPage < totalPages) { %>

                                            href="/?category=<%=categoryID%>&sortBy=<%=sortBy%>&search=<%= search %>
                                                        &page=<%= next %>"
                                                            <%}%>


                                                                aria-label="Next">Next
                                                                <span aria-hidden="true"><i
                                                                        class="icon-long-arrow-right"></i>
                                                                </span>
                                        </a>



                                    </li>
            </ul>
        </nav>

        <%- include('../users/userFooter.ejs') %>
            <script src="/js/user/searchAndBuy.js"></script>
            <%- include('../layouts/footer.ejs') %>