<%- include('../layouts/header.ejs') %>

    <%- include('../users/userHeader.ejs') %>

        <body class="goto-here " data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">


            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__text">
                                <h4>Shopping Cart</h4>
                                <div class="breadcrumb__links">
                                    <a href="./index.html">Home</a>
                                    <span>Shopping Cart</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <div class="hero-wrap hero-bread ">
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">


                        </div>
                    </div>
                </div>
            </div>

            <section class="ftco-section ftco-cart h-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
                            <div class="cart-list">


                                <% if(itemsInCart.length>0){ %>

                                    <table class="table mt-4">
                                        <thead class="thead-primary wishlist001">
                                            <tr class="text-center">
                                                <th></th>
                                                <th>Image</th>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>size</th>
                                                <th>Quantity </th>


                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for(let i=0; i<itemsInCart.length; i++) { %>

                                                <tr data-id="<%= itemsInCart[i]._id %>"
                                                    class="text-center border-bottom">

                                                    <td
                                                        class="d-flex align-items-center justify-content-center td-height-wishlist border-0">



                                                        <button class="nav-link"
                                                            onclick="removeFromCart('<%=itemsInCart[i]._id %>')"><i
                                                                class="fa-solid fa-2x fa-rectangle-xmark"
                                                                style="color: #eac053;"></i></button>



                                                    </td>


                                                    <td class="td-height-wishlist ">
                                                        <img src="/img/productImages/<%=itemsInCart[i].cartProductData.images.find((img)=>{
                                                return img.toLowerCase().includes('mainimgthumbnail')
                                            }) %>" alt="" class="img-thumbnail mt-2" style="height: 100px;">
                                                    </td>

                                                    <td class=" td-height-wishlist ">
                                                        <p>
                                                            <%=itemsInCart[i].cartProductData.name%>
                                                        </p>

                                                    </td>

                                                    <td class="">
                                                        <p>
                                                            <%=itemsInCart[i].cartProductData.price%>
                                                        </p>
                                                    </td>

                                                    <td class="">
                                                        <p>
                                                            <%=itemsInCart[i].cartProductData.size%>
                                                        </p>
                                                    </td>

                                                    <td class="">

                                                        <div class="d-flex justify-content-center">
                                                            <button reduceBtn-id="<%=itemsInCart[i]._id %>"
                                                                onclick="reduceOneFromCart('<%=itemsInCart[i]._id %>')"
                                                                style="height: 25px;" class="d-flex align-items-center"
                                                                <% if(itemsInCart[i].quantity <=1){ %>

                                                                disabled
                                                                <% } %>

                                                                    >
                                                                    <p class="m-0">-</p>
                                                            </button>

                                                            <p quantity-id="<%=itemsInCart[i]._id %>" class="mx-3">
                                                                <%=itemsInCart[i].quantity%>
                                                            </p>

                                                            <button addBtn-id="<%=itemsInCart[i]._id%>"
                                                                onclick="addToCart('<%=itemsInCart[i].cartProductData._id%>','<%=itemsInCart[i]._id %>')"
                                                                style="height: 25px;" class="d-flex align-items-center">
                                                                <p class='m-0'>+</p>
                                                            </button>
                                                        </div>



                                                    </td>




                                                </tr><!-- END TR-->

                                                <% } %>


                                                    <tr style="font-size: 1.3rem;">
                                                        <td class="text-center my-3 font-weight-bold">Grand Total</td>

                                                        <td></td>
                                                        <td></td>
                                                        <td id="grandTotal" class="text-center font-weight-bold">
                                                            <%=grandTotal %>
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>


                                        </tbody>
                                    </table>

                                    <div class="d-flex justify-content-center mt-5">


                                        <button
                                            style="font-size: 1.5rem ; padding: .3rem;font-weight:400; border:2px solid black; color:rgb(28, 28, 27); background-color:#ffffff;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                            <a href="/user/checkout" class="nav-link">PROCEED
                                                TO PLACE ORDER</a>
                                        </button>
                                    </div>





                                    <% } else{ %>

                                        <h3 class="mt-5 text-center">No Products In Cart</h3>

                                        <% } %>

                            </div>
                        </div>
                    </div>


            </section>






            <%- include('../users/userFooter.ejs') %>

                <script src="/js/user/shoppingCart.js"></script>
                <%- include('../layouts/footer.ejs') %>